body{
    background-image:url('../material/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:fixed;
}

#plain{
    height: 70px;
    width: 100%;
}

.loginbg{
    width: 800px;
    height: 500px;
    /* width:90%;
    height: 100%; */
    /* background-color:rgb(93, 99, 129); */
    background-color: rgba(255,255,255,.2);
    
    margin:0 auto;
    border-radius: 59px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px #333;
}

#leftp{
    float: left;
    background-color: rgb(38, 38, 59);
    height: 500px;
    width: 370px;
    border-radius: 59px 0px 0px 59px;
    filter:opacity(0.8);
}

#logo{
    position: relative;
    top: 150px;
    left: 150px;
    width: 80px;
    height: 80px;
}

#jkct{
    position: relative;
    font-family: Microsoft JhengHei;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    left: 110px;
    top: 130px;
}

#rightbg{
    text-align: center;
    float: left;
}

#form{
    position: relative;
    top: 135px;
    left: 100px;
}

.input{
    background-color:rgb(242, 249, 255);
    text-indent: 10px;
    outline: none;
    border-style: none;
    width: 200px;
    height: 35px;
    border-radius: 13px;
}

#button{
    background-color:rgb(238, 247, 255);
    width: 55px;
    height: 55px;
    border-radius: 50px;
    font-family: Microsoft JhengHei;
    font-weight: bolder;
    font-size: 21px;
    border-style: none;
}

#button:focus{
    filter: opacity(0.9);
    background-color: rgb(38, 38, 59);
    color: rgb(207, 217, 225);
    width: 55px;
    height: 55px;
    border-radius: 50px;
    font-family: Microsoft JhengHei;
    font-weight: bolder;
    font-size: 21px;
    border-style: none;
}

#button:hover{
    cursor: pointer;
}

#register{
    color:rgb(14, 81, 158);
    text-decoration: none;
    font-weight: 500;
}

#register:focus{
    color:rgb(3, 33, 67);
    text-decoration: none;
    font-weight: 500;
}

/* #text{
    width:80%;
    height: 100%;
    margin: 0 auto;
}



.header{
    text-align: center;
    color: black;
}

#p1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: aliceblue;
}

.p2{
    text-indent: 50px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    font-size: large;
} */








