#login{
    width:900px;
    height:500px;
    border-radius: 25px;
    background-color:rgb(54, 200, 233);
    border-width:1px;
    border-color:gray;
    text-align: center;
    margin-left:350px;
}
.form_title{
    font-size:64px;
    font-family:微软雅黑;
    font-weight:lighter;
    color:white;
    text-align:right;
    margin-right:100px
}
.form_input{
    margin:10px;
    width:500px;
    height:30px;
    margin-left:360px;
}
.button_primary{
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1.5px solid transparent;
    position: relative;
    color: #679af9;
    background: #dde9ff;
    font-size: 15px;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 6px;
    margin: 0;
    height: 37px;
    transition: all 0.08s ease 0s;
    cursor: pointer;
}
body{
    background-color:#a8eefd
}
#login_title{
    font-family:微软雅黑;
    font-size:58px;
    margin-left:200px;
    color:rgb(74, 131, 255);
}