body{
    background-image:url('../material/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:fixed;
}

#plain{
    height: 70px;
    width: 100%;
}

.loginbg{
    width: 450px;
    height: 500px;
    /* width:90%;
    height: 100%; */
    /* background-color:rgb(93, 99, 129); */
    background-color: rgba(255,255,255,.2);
    
    margin:0 auto;
    border-radius: 59px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px #333;
}

#tip{
    position: relative;
    top:18px;
    left:18px;
    width: 55px;
    height: 55px;
}

#logo{
    position: relative;
    top: 110px;
    left: 100px;
    width: 175px;
    height: 175px;
}

#form{
    position: relative;
    top: 90px;
    text-align: center;
}

.input{
    background-color:rgb(242, 249, 255);
    text-indent: 10px;
    outline: none;
    border-style: none;
    width: 200px;
    height: 35px;
    border-radius: 13px;
}

#button{
    background-color:rgb(238, 247, 255);
    width: 55px;
    height: 55px;
    border-radius: 50px;
    font-family: Microsoft JhengHei;
    font-weight: bolder;
    font-size: 21px;
    border-style: none;
}

#button:focus{
    filter: opacity(0.9);
    background-color: rgb(38, 38, 59);
    color: rgb(207, 217, 225);
    width: 55px;
    height: 55px;
    border-radius: 50px;
    font-family: Microsoft JhengHei;
    font-weight: bolder;
    font-size: 21px;
    border-style: none;
}

#button:hover{
    cursor: pointer;
}
