#photo_exhibit{
    border-color:blue;
    border-bottom-width: 20px;

}
#navigation{
    padding:0;
    border-color:blue;
    border-bottom-width: 20px;
    background-color:rgb(35, 143, 238);
    margin:0px;
    width:100%;
    height:100px;
    position:fixed;
}
#navigation h1{
    width:20%;
    margin-top:1%;
    color:white;
    float:inline-start;
    margin-bottom:0;
    margin-left:40px;
}
#navigation h3{
    margin-bottom:0px;
    margin-top:2%;
}
#navigation a{
    margin-top:0px;
    margin-right:15%;
    display:inline-block;
    font-size: 20px; 
    color: rgb(186, 186, 186); 
    text-decoration: none; 
}
#navigation a:hover{
    color:white;
}
#upload{
    width:100%;
    height:130px;
    border-width:5px;
    border:2px solid black;
}
#upload input{
    display:inline;
}
.padding{
    height:130px;
    width:100%;
    display:block;
}
#photowall div{
    width:330px;
    height:471px;
    display:inline-block;
    float:left;
    border:1px solid gray;
    background-color: white;
}
#photowall form{
    width:300px;
    display:block;
    text-align: right;
}
#photowall p{
    width:300px;
    display:inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    text-align: center;
}
#photowall img{
    margin-left:15px;
}
body{
    background-color: rgb(197, 242, 254);
    border-width:0;
    margin:0;
}

img{
    float:left;
}